.vpl_sh {
    direction: ltr;
    text-align: left;
}

.vpl_sh div {
    display: inline-block;
}

.vpl_g,
.vpl_g * {
    font: 1em/1 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    white-space: pre;
    word-wrap: normal;
}

.vpl_show_hide_content {
    margin-left: 10px;
    white-space: pre-line;
}

.vpl_show_hide_content pre {
    font: 1em/1 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
