.vpl_sh {
    direction: ltr;
    text-align: left;
}

.vpl_sh div {
    display: inline-block;
}

.vpl_g,
.vpl_g * {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    line-height: normal;
    white-space: pre;
    word-wrap: normal;
}
