.vpl_sim0 {font-size:small;  height:3em; background-color:#FF0000; color: #FFFFFF;}
.vpl_sim0 a {color: #FFFFFF;}
.vpl_sim0 a:hover {color: #00FF00;}
.vpl_sim1 {font-size:small;  height:3em;  font-size:small; background-color:#FF1010; color: #FFFFFF;}
.vpl_sim1 a {color: #FFFFFF;}
.vpl_sim1 a:hover {color: #00FF00;}
.vpl_sim2 {font-size:small;  height:3em; background-color:#FF2828; color: #FFFFFF;}
.vpl_sim2 a {color: #FFFFFF;}
.vpl_sim2 a:hover {color: #00FF00;}
.vpl_sim3 {font-size:small;  height:3em; background-color:#FF4040; color: #FFFFFF;}
.vpl_sim3 a {color: #FFFFFF;}
.vpl_sim3 a:hover {color: #00FF00;}
.vpl_sim4 {font-size:small;  height:3em; background-color:#FF5858; color: #FFFFFF;}
.vpl_sim4 a {color: #FFFFFF;}
.vpl_sim4 a:hover {color: #00FF00;}
.vpl_sim5 {font-size:small;  height:3em; background-color:#FF7070; color: #FFFFFF;}
.vpl_sim5 a {color: #FFFFFF;}
.vpl_sim5 a:hover {color: #00FF00;}
.vpl_sim6 {font-size:small;  height:3em; background-color:#FF8888; color: #FFFFFF;}
.vpl_sim6 a {color: #FFFFFF;}
.vpl_sim6 a:hover {color: #00FF00;}
.vpl_sim7 {font-size:small;  height:3em; background-color:#FFA0A0;}
.vpl_sim8 {font-size:small;  height:3em; background-color:#FFB8B8;}
.vpl_sim9 {font-size:small;  height:3em; background-color:#FFD0D0;}
.vpl_sim10 {font-size:small;  height:3em; background-color:#FFE8E8;}
.vpl_sim11 {font-size:small;  height:3em; background-color:#FFFFFF;}
