.vpl_ide_root {
    text-align: left;
    direction: ltr;
    width: 100%;
}

.vpl_body_fullscreen {
    overflow: hidden;
}

.vpl_ide_root_fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 90;
}

.vpl_ide_dialog {
    z-index: 999;
}

#vpl_menu .ui-button-text-only .ui-button-text {
    padding: 0.4em;
}

.vpl_ide_menu {
    font-size: 110%;
    min-width: 340px;
    padding: 0.2em;
}

.vpl_ide_tr {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    min-width: 330px;
    width: 100%;
}

#vpl_filelist {
    position: absolute !important;
    top: 0px;
    left: 0px;
    display: none;
}

#vpl_filelist_header {
    padding-left: 0.5em;
}

#vpl_filelist_content {
    padding-left: 0.5em;
    white-space: pre;
    overflow: auto;
}

.vpl_ide_dirindent {
    display: inline-block;
    width: 1.5em;
}

.vpl_ide_tabs {
    top: 0;
    position: absolute !important;
}

#vpl_tabs_scroll {
    overflow: auto;
}

.vpl_ide_tabs li {
    line-height: 1ex;
}

.vpl_ide_charicon {
    color: gray;
}

.vpl_ide_closeicon {
    color: white;
    text-shadow: 1px 0px 1px gray, 0px 1px 1px gray, 0px -1px 1px gray, -1px
        0px 1px gray;
}
div.vpl_ide_dialog_content {
    width: 350px;
    height: 250px;
    overflow: scroll;
}


.vpl_ide_closeicon:hover {
    color: gray;
    text-shadow: none;
    cursor: pointer;
}
.ui-widget {
    font-size:100% !important;
}
.ui-tabs .ui-tabs-panel {
    padding: 0 !important;
}
/*Resolve problem with essential theme*/
.vpl_ide_file * {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas',
        'source-code-pro', monospace;
}

.vpl_ide_file {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas',
        'source-code-pro', monospace;
    margin: 2px;
    padding: 0;
    z-index: 0;
}

.vpl_ide_binary {
    line-height:200%;
    margin: auto;
    font-size: 300%;
    text-align: center;
    z-index: 0;
}

.vpl_ide_img {
    overflow: auto;
}

img.vpl_ide_file {
    display: block;
    width: auto;
    height: auto;
    padding: 2px;
    z-index: 0;
}

.vpl_ide_results {
    top: 0;
    min-width: 100px;
    position: absolute !important;
    right: 0;
    height: 100%;
}

.vpl_ide_results a {
    padding: 1px 2px;
    border-bottom: solid 1px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}

.vpl_ide_results pre {
    line-height: 100%;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

.vpl_ide_progressbar {
    position: relative;
    min-width: 100px;
}

.vpl_ide_progressbaricon {
    position: absolute;
    witdh: 2em;
    display: block;
    padding: 0;
    margin: 0;
}

.vpl_ide_progressbarlabel {
    margin: 0;
    witdh: 100%;
    display: block;
    border: 0;
    padding: 0 1em 0 1em;
    text-align: center;
    font-weight: bold;
}

.vpl_icon_repeat {
    position: absolute;
    left: -0.7em;
}

.vpl_ide {
    font-size: 80%;
}
.vpl_ide .ui-dialog-titlebar{
    padding: 0.15em !important;
}
.ace_gutter-tooltip {
    white-space: pre-wrap !important;
}

.vpl_ide_result_compilation,.vpl_ide_result_execution {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas',
        'source-code-pro', monospace;
    font-size: 14px;
    max-width: 120em;
    white-space: pre;
}

.vpl_vnc {
    position: fixed;
    width: auto;
    z-index: 1000;
}

.vpl_vnc .ui-dialog-content {
    padding: 0 !important;
}
.vpl_noVNC_canvas {
    width: 800px;
    height: 600px;
    cursor: none;
}

.vpl_vnc .ui-button-text-only .ui-button-text {
    padding: 0.15em;
}

.vpl_terminal {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: black;
    z-index: 1000;
}
.vpl_clipboard {
    display: none;
}
.vpl_clipboard_label1.ui-button-text,
.vpl_clipboard_label1.ui-button-text {
    padding: 0.15em;
}
.vpl_clipboard .vpl_clipboard_entry1, .vpl_clipboard .vpl_clipboard_entry2{
    width: 200px;
    height: 50px;
}

/*Resolve problem with essential theme*/
pre.vpl_terminal * {
    padding: 0;
    margin: 0;
    border: 0;
    font: 1em/1.2 monospace;
}

pre.vpl_terminal {
    padding: 2px;
    font: 1em/1.2 monospace;
    font-size: 12px;
    display: inline-block;
}
.vpl_buttonleft_orange {
    background-color : orange !important;
    color : white !important;
    font-weight: bold;
}
.vpl_buttonleft_red {
    background-color : red !important;
    color : white !important;
    font-weight: bold;
}
.vpl_buttonleft_black {
    background-color : black !important;
    color : white !important;
    font-weight: bold;
}
