#vpl_results_accordion .vpl_ide_accordion_c_description a,
#vpl_results_accordion .vpl_ide_accordion_c_comments a,
#vpl_results_accordion .vpl_ide_accordion_c_compilation a {
    color: #1177d1; /* Removes Jquery-UI and set Moodle default theme color. */
}

.vpl_ide_root {
    direction: ltr;
    text-align: left;
    width: 100%;
}

.vpl_body_fullscreen {
    overflow: hidden;
}

.vpl_ide_root_fullscreen {
    background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
}

.vpl_ide_dialog {
    z-index: 999;
}
#vpl_ide_dialog_about {
    width: 400px;
    height: 260px;
}
#vpl_menu .ui-button-text-only,
#vpl_menu .ui-button-text {
    padding: 0.4em;
}

.vpl_ide_menu {
    min-width: 340px;
    padding: 0.2em;
}

.vpl_ide_tr {
    border: 0;
    margin: 0;
    min-width: 330px;
    padding: 0;
    position: relative;
    width: 100%;
}

#vpl_filelist {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}

#vpl_filelist_header {
    padding-left: 0.5em;
}

#vpl_filelist_content {
    overflow: auto;
    padding-left: 0.5em;
    white-space: pre;
}

.vpl_ide_dirindent {
    display: inline-block;
    width: 1.5em;
}

.vpl_ide_tabs {
    position: absolute;
    top: 0;
}

#vpl_tabs_scroll {
    overflow: auto;
}

.vpl_ide_tabs li {
    line-height: 1ex;
}

.vpl_ide_charicon {
    color: gray;
}

.vpl_ide_closeicon {
    color: white;
    text-shadow:
        1px 0 1px gray,
        0 1px 1px gray,
        0 -1px 1px gray,
        -1px 0 1px gray;
}
div.vpl_ide_dialog_content {
    height: 250px;
    overflow: scroll;
    width: 350px;
}

.vpl_ide_closeicon:hover {
    color: gray;
    cursor: pointer;
    text-shadow: none;
}

.vpl_ide .ui-widget {
    font-size: 12px;
}

.vpl_ide .ui-widget-content {
    font-size: 12px;
}

.vpl_ide .ui-dialog-titlebar {
    font-size: 13px;
    padding: 0 1em 0 1em;
}

.vpl_ide .ui-button {
    font-size: 14px;
}

div.vpl_ide_file.ui-tabs-panel {
    padding: 0;
}
/*Resolve problem with essential theme*/
.vpl_ide_file * {
    font-family:
        'Monaco',
        'Menlo',
        'Ubuntu Mono',
        'Consolas',
        'source-code-pro',
        monospace;
}

.vpl_ide_file {
    font-family:
        'Monaco',
        'Menlo',
        'Ubuntu Mono',
        'Consolas',
        'source-code-pro',
        monospace;
    margin: 2px;
    padding: 0;
    z-index: 0;
    position: absolute;
}

.vpl_ide_binary {
    font-size: 300%;
    line-height: 200%;
    margin: auto;
    text-align: center;
    z-index: 0;
}

.vpl_ide_img {
    overflow: auto;
}

.vpl_ide_status {
    bottom: 2px;
    right: 2px;
    border: 1px;
    margin: 0;
    padding: 0;
    font-size: 80%;
    z-index: 200;
    position: absolute;
    display: none;
}

img.vpl_ide_file {
    display: block;
    height: auto;
    padding: 2px;
    width: auto;
    z-index: 0;
}

.vpl_ide_results {
    height: 100%;
    min-width: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

.vpl_ide_results pre {
    line-height: 100%;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

.vpl_ide_progressbar {
    min-width: 100px;
    position: relative;
}

.vpl_ide_progressbaricon {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 2em;
}

.vpl_ide_progressbarlabel {
    border: 0;
    display: block;
    font-weight: bold;
    margin: 0 1em 0 1em;
    padding: 0 1em 0 1em;
    text-align: center;
}

.vpl_icon_repeat {
    left: -0.7em;
    position: absolute;
}

.vpl_ide {
    font-size: 12px;
}
.vpl_ide div.ui-dialog-titlebar {
    padding: 0.15em;
}
.ace_gutter-tooltip {
    white-space: pre-wrap;
}

.vpl_ide_accordion_c_compilation,
.vpl_ide_accordion_c_execution {
    font-family:
        'Monaco',
        'Menlo',
        'Ubuntu Mono',
        'Consolas',
        'source-code-pro',
        monospace;
    max-width: 120em;
    white-space: pre;
}

.vpl_vnc {
    position: fixed;
    width: auto;
    z-index: 1000;
}

.vpl_vnc .ui-dialog-content {
    padding: 0;
}
.vpl_noVNC_canvas {
    cursor: none;
    height: 600px;
    width: 800px;
}

.vpl_vnc .ui-button-text-only .ui-button-text {
    padding: 0.15em;
}
#vpl_dialog_terminal {
    display: none;
}
.vpl_terminal {
    background-color: black;
    border: 0;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

.vpl_terminal_theme1 div {
    background-color: white;
    color: black;
}

.vpl_terminal_theme1 .reverse-video {
    background-color: black;
    color: white;
}

.vpl_terminal_theme2 div {
    background-color: navy;
    color: yellow;
}

.vpl_terminal_theme2 .reverse-video {
    background-color: yellow;
    color: navy;
}

.vpl_terminal_theme3 div {
    background-color: blue;
    color: white;
}

.vpl_terminal_theme3 .reverse-video {
    background-color: white;
    color: blue;
}
.vpl_terminal_theme4 div {
    background-color: red;
    color: #0ff;
}

.vpl_terminal_theme4 .reverse-video {
    background-color: #0ff;
    color: red;
}

.vpl_clipboard {
    display: none;
    z-index: 1010;
}
.vpl_clipboard_label1.ui-button-text,
.vpl_clipboard_label1.ui-button-text {
    padding: 0.15em;
}
.vpl_clipboard .vpl_clipboard_entry1,
.vpl_clipboard .vpl_clipboard_entry2 {
    height: 50px;
    width: 200px;
}

/*Resolve problem with essential theme*/
pre.vpl_terminal * {
    border: 0;
    font: 1em/1.2 "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
    margin: 0;
    padding: 0;
}

pre.vpl_terminal {
    display: inline-block;
    font: 1em/1.2 "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
    font-size: 12px;
    padding: 2px;
}
/* Support to ways of class setting, jqueryui button may change */
#vpl_ide_timeleft.vpl_buttonleft_orange,
.vpl_buttonleft_orange {
    background-color: orange;
    background-image: none;
    color: white;
    font-weight: bold;
}
#vpl_ide_timeleft.vpl_buttonleft_red,
.vpl_buttonleft_red {
    background-color: red;
    background-image: none;
    color: white;
    font-weight: bold;
}
#vpl_ide_timeleft.vpl_buttonleft_black,
.vpl_buttonleft_black {
    background-color: black;
    background-image: none;
    color: white;
    font-weight: bold;
}

.vpl_dimmed {
    opacity: 0.3;
}
