{{!
    vim: ts=2 sts=2 sw=2 syntax=mustache
    @template: mod_vpl/homelink

    Show VPL homelink
}}
<div style="float:right; right:10px; padding:8px; background-color: white;text-align:center;">
  <a href="http://vpl.dis.ulpgc.es/">VPL {{version}}</a>
</div>
